<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kinetic.Vision.Kinect.Face.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kinetic.Vision.Kinect.Face.Properties.Settings>
            <setting name="ProjectOxford_PrimaryKey" serializeAs="String">
                <value>f0c6a323592a4ad3be63c570bf781c65</value>
            </setting>
            <setting name="ProjectOxford_SecondaryKey" serializeAs="String">
                <value>4b13bb6188cb4ff293118485b4197833</value>
            </setting>
        </Kinetic.Vision.Kinect.Face.Properties.Settings>
    </applicationSettings>
</configuration>